@page
@model fues_prn221_chiennguyensrdn.Pages.Seller.ViewProductDetailModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Seller")]
@{
    ViewData["Title"] = "View Product Detail";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Title: @Model.Product.Title</p>
    <p>Description: @Model.Product.Description</p>
    <p>Price: @string.Format("{0:N2} Đ", @Model.Product.Price)</p>
    <p>Category: @Model.Product.Category?.Name</p>
    <p>Created At: @Model.Product.CreatedAt.ToString("yyyy-MM-dd HH:mm")</p>
    <p>
        Image:
        @if (Model.Product.Image != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.Product.Image)" alt="@Model.Product.Title" style="max-width: 200px; max-height: 200px;" />
        }
        else
        {
            <span>No image available</span>
        }
    </p>
</div>

<hr />

<h4>Comments</h4>
<form method="post" asp-page-handler="Comment">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <textarea id="newComment" class="form-control" asp-for="NewComment" rows="3"></textarea>
        <span asp-validation-for="NewComment" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>@comment.User.Name: @comment.Comment1</li>
    }
</ul>
<hr />

<h4>Rating</h4>
@if (Model.AverageRating != null)
{
    <div>
        <h5>Average Rating:</h5>
        <p>@Model.AverageRating</p>
    </div>
}
else
{
    <p>You have not rated this product yet.</p>
}
<div>
    <form asp-page="/Seller/ManageProduct/ViewOwnProduct" method="get">
        <button type="submit" class="btn btn-primary">Back to List</button>
    </form>
</div>
